.mainContainer{
    margin-left: 600px;
    height: 812px;
}
.main_content{
    display: flex;
    flex-direction: column;
    gap: 137px;
    
    
}
.imageContainer{
    background-color: var(--mimi-pink);
    width: 150px;
    justify-content: center;
    margin-left: 135px;
    border-radius: 15px;
}
.topBar{
    height: 100px;
    background-color: var(--mauve);
    width: 400px;
    display: flex;
    flex-direction: row;
}
.pageTitle{
    padding-left: 10px;
    padding-top: 10px;
}

