

.home_buttons{
    display: flex;
    gap: 19px;
}
.first_column_buttons{
    display: flex;
    flex-direction: column;
    gap: 50px; 
}
.second_column_buttons{
    display: flex;
    flex-direction: column;
    gap: 50px; 
}
