.main_container{
    margin-left: 400px;
    height: 844px;
    width: 828px;
}
.header{
    width: 400px;
    height: 110px;
    background-color: var(--mauve);
    
}
.icon{
    margin-left: 50px;
}
.home_buttons{
    display: flex;
    gap: 19px;
    margin-top: 70px;
    margin-left: 30px;
}
.first_column_buttons{
    display: flex;
    flex-direction: column;
    gap: 50px; 
}
.second_column_buttons{
    display: flex;
    flex-direction: column;
    gap: 50px; 
}
.quote_container{
    margin-top: 50px;
    height: 50px;
    width: 400px;
    background-color: var(--pale-purple);
    padding-left: 20px;
   
}
.quote{
    margin-left: 30px;
    margin-top: 2px;
}
.graphic{
    margin-top: 20px;
    margin-left: 30px;
    
}