.container {
    justify-content: center;
}

.buttons {
    display: flex;
    padding-top: 80px;
   
}

.seemore {
    color: black;
    padding-right: 50px;
    margin-top: 50px;
    background-color: var(--mimi-pink);
    width: 100px;
    height: 50px;
    text-decoration: none;
    border-radius: 30px;
}

.learnmore {
    color: black;
    font-size: 15px;
    padding-right: 50px;
    margin-top: 50px;
    background-color: var(--mimi-pink);
    width: 100px;
    height: 50px;
    text-decoration: none;
    border-radius: 30px;
}