.advice_one{
    width: 305px;
}
.advice_two{
    width: 305px;
}
.title_three{
    width: 305px;
}
.advice_three{
    width: 305px;
}
.advice_four{
    width: 305px;
}
.advice_five{
    width: 305px;
}
.title_four{
    width: 305px;
}
.advice_six{
    width: 305px;
}
.advice_seven{
    width: 305px;
}